aside {
    position: fixed;
    transition: right 0.4s ease;
    right: -420px;
    width: 262px;
    color: #ffffff;
    background-color: #0308a0c7;
    padding: 50px 40px;
    padding-bottom: 60px;
    z-index: 301;
    height: fit-content;
    top: 10%;
    border-radius: 35px 0 0 35px;
  }
  
  aside.active {
    right: 0px;
  }
  
  aside a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 500;
    z-index: 200;
  }

  aside ul  a {
    border-bottom: 2px solid #fbfbfbde;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  /* close x button and backdrop */

  .sidebar_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  aside button.close {
    color: #ffffff;
    font-size: 24px;
    border: 0;
    background-color: transparent;
    /* position: absolute; */
    /* top: 10px;
    right: 20px;
    padding: 10px; */
    font-family: sans-serif;
    font-weight: 100;
  }
  
  .backdrop {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(42, 28, 28, 0.636);
    backdrop-filter: blur(25px);
    z-index: 210;
  }
  
  .backdrop.active {
    display: block;
  }


/* 


git pull

git add .

git commit -m "lyuboe sobwenie"

git push 


*/
