@font-face {
  font-family: Gotham SSm;
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Bold_Web.woff2)
    format('woff2');
}

@font-face {
  font-family: Gotham SSm;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Medium_Web.woff2)
    format('woff2');
}

@font-face {
  font-family: Gotham SSm;
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Book_Web.woff2)
    format('woff2');
}

@font-face {
  font-family: Gotham SSm;
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Light_Web.woff2)
    format('woff2');
}

@font-face {
  font-family: Gotham SSm;
  font-weight: 200;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2)
    format('woff2');
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  max-width: 100%;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

/* The top-bar  */

.mobile_header {
  opacity: 1;
  padding: 5px 0px;
  position: fixed;
  top: 0;
  height: 40px;

  z-index: 10;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mobile_header li img {
  width: 30px;
}

.nav_question a {
  font-size: 22px;
  font-weight: 600;
  color: rgb(1, 6, 39);
}

.phone_icon a img {
  margin-top: 4px;
  width: 24px;
}

#menuBtn img {
  width: 22px;
  padding-top: 5px;
}

.active {
  opacity: 1;
  /* transition: ease-in-out 1s; */
}

.hide {
  opacity: 0;
}

.blur {
  position: fixed;
  width: 100%;
  display: none;
  height: 100vh;
  z-index: 10;
  transition: all 1s;
  backdrop-filter: blur(4px);
  background-color: #393c416e;
}

.blur2 {
  position: fixed;
  width: 100%;
  display: none;
  height: 100vh;
  z-index: -1;
  transition: all 1s;
  backdrop-filter: blur(4px);
  background-color: #393c416e;
}
.blurCompletely {
  position: fixed;
  width: 100%;
  display: none;
  height: 100vh;
  z-index: -29;
  transition: all 1s;
  backdrop-filter: blur(4px);
  background-color: #2f77f4;
}

.blur.active {
  display: block;
}

.invisible {
  display: block;
  width: 1px;
  height: 10px;
}

.hide_in_mobile_version {
  display: none;
}

/* main section */

/* ------------------------------------ ******************* ------------------------------------ */

.section-container {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

section.page {
  position: relative;
  scroll-snap-stop: always;
  height: 100vh;
  scroll-snap-align: center;
  pointer-events: none;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: -2;
}

#page-1 {
  background-image: url(images/mainpage_1_mobile.jpg);
  background-size: cover;

}
#page-2 {
  background-image: url(images/mainpage_2_mobile.jpg);
  background-size: cover;
}
#page-3 {
  background-image: url(images/mainpage_3_mobile.jpg);
  background-size: cover;
}
#page-4 {
  background-image: url(images/mainpage_4_mobile.jpg);
  background-size: cover;
}

.dynamicContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: -1;
}

.pageLogo {
  position: absolute;
  top: 50px;
  left: 10px;
  height: 35px;
  object-fit: cover;
}

.pageHeader {
  position: absolute;
  top: 80px;
  left: 50px;
  color: white;
  font-size: 22px;
}

.blueZoneContainer {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  width: 97%;
  height: fit-content;
  /* height: 202px; */
}

.blueZoneImage {
  width: 100%;
  height: fit-content;
  /* height: 202px; */
  object-fit: contain;
}

/* Pseudo-buttons  */
.mainButton {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  bottom: 27px;
  border-radius: 50%;
  background-color: rgba(0, 128, 0, 0.225);
  border-width: 0px;
}

.linkButton1 {
  position: absolute;
  bottom: 154px;
  left: 14px;
  width: 30px;
  height: 40px;
  border-radius: 20%;
  
  background-color: transparent;
  border-width: 0px;
  /* border: 2px solid red; */
}

.linkButton2 {
  position: absolute;
  bottom: 125px;
  left: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border-width: 0px;
/* 
  background-color: rgba(255, 0, 0, 0.3);
  border: 2px solid red; */
}

.linkButton3 {
  position: absolute;
  bottom: 80px;
  left: 14px;
  width: 30px;
  height: 40px;
  border-radius: 10%;

  background-color: transparent;
  border-width: 0px;
/* 
  background-color: rgba(255, 0, 0, 0.3);
  border: 2px solid red; */
}

.closeLink {
  position: absolute;
  left: 14px;
  width: 30px;
  height: 40px;
  border-radius: 20%;
  /* background-color: yellow; */
  background-color: transparent;
  /* border-width: 2px; */
  /* background-color: rgba(238, 255, 0, 0.3); */
  border-width: 0px;
  /* border: 2px solid rgb(238, 255, 0); */
}

.oneOfFour1 {
  position: absolute;
  left: 30px;
  bottom: 50px;
  width: 90px;
  height: 55px;
  border-radius: 10%;
    background-color: transparent;
  border-width: 0px;
  
}

.oneOfFour2 {
  position: absolute;
  left: 68px;
  bottom: 115px;
  width: 100px;
  height: 65px;
  border-radius: 10%;
  border-width: 0px;
  background-color: transparent;
  border-width: 0px;

}

.oneOfFour3 {
  position: absolute;
  left: 178px;
  bottom: 110px;
  width: 90px;
  height: 65px;

  border-radius: 10%;
  background-color: transparent;
  border-width: 0px;
}

.oneOfFour4 {
  position: absolute;
  right: 44px;
  bottom: 45px;
  width: 70px;
  height: 55px;
  border-radius: 10%;
  background-color: transparent;
  border-width: 0px;
}


/* For other pages  */
figure {
  top: 50px;
  right: -62px;
  position: fixed;
  content: '';
  width: 70px;
  height: 93%;
  border-radius: 50px;
  background-color: #120587;
  z-index: 300;
}

figure.active {
  display: none;
}

.photo_for_each_page {
  padding-top: 20px;
  background-color: #ffffff;
}

.photo_for_each_page img {
  padding: 20px 0px;
  position: relative;
  width: 100%;
}

.other_pages h4 {
  text-align: center;
  padding: 40px 20px;
  font-weight: 700;
}

.other_pages h6 {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
}

.other_pages p {
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.6rem;
  font-weight: 600;
}

 

.other_pages .sarlavha_with_bg {
  background-color: #edeefd;
  margin-top: 55px;
  padding: 10px 10px;
  /* margin-bottom: 30px; */
  font-size: 33px;
  letter-spacing: 1.7px;
  border-top: 4px double #818bf91a;
}

footer p {
  font-size: 8px;
  background-color: #8f8f8f;
  color: #17028a;
  padding: 10px 20px;
  text-align: center;
}

.phone_number {
  display: none;
}
header {
  display: none;
}

.conntainer {
  display: none;
}

/* a Note: Hamburger menu is in aside.css */

/* For the desktop version  */



/* ------------------------------------ ******************* ------------------------------------ */


@media only screen and (min-width: 600px) {

  .arrow {
    opacity: 0;
  }

  .reveal_in_desktop {
    display: block;
  }
  .mobile_header {
    display: none;
  }
  .pageHeader, .pageLogo {
    display: none;
  }
 
  .blueZoneContainer {
    display: none;
  }

  .section-container {
    display: none;
  }

  
  body {
    overflow: scroll;
    font-size: 32px;
  }

  .conntainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(253, 255, 241);
   
    font-weight: 300;
    /* top: 35%; */
    /* left: 50%;
    transform: translate(-50%); */
    letter-spacing: 5px;
    /* background-color: #0c0c0d7b; */
  
   
  }

  .firstBG {
    background-image: url(desktopImages/firstBG.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    height: 500px;
    border-bottom: 23px double rgb(161, 145, 64);
    display: flex;
    justify-content: center;
  }

  .firstBG img {
    position: absolute;
    width: 50%;
    height: fit-content;
    top: 200px;
  }
  
  .conntainer .desktop_heading {
    color: #f8fff2;
    background-color: #1205879c;
    padding: 20px 40px;
    position: relative;
    margin: auto;
    text-align: center;
    top: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .round_buttons_container {
    position: relative;
    margin-top: -80px;
    color: #17028a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 200px;
  }

  .round_buttons_container p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin: auto;
    letter-spacing: normal;
  }

  .round_buttons_container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
  }

  .round_buttons_container img {
    width: 100px;
    margin: auto;
  }

  .round_buttons_container div:hover {
    background-color: #f5e683;
  }

.firstSection {
  position: relative;
  
  color: #17028a;
  /* margin-top: 100px; */
    display: flex;
    flex-direction: row;
    gap: 170px;
    /* justify-content: center; */

    letter-spacing: 1.2px;
    margin-top: 100px;
    padding: 0px 150px;
    margin-bottom: 120px;
}

.firstSection .img_container {
  
}

.firstSection img {
  border-radius: 25px;
  width: 600px;
 
}

.text_container1 {
  /* width: 40%; */
  /* float:left; */
  /* background-color: red; */
}

.text_container1 li {
  margin-bottom: 8px;
}

.firstSection h6 {
  float:left;
}

.secondSection {
  color: #17028a;
  display: flex;
  flex-direction: column;
  gap: 70px;
  /* justify-content: center; */
  letter-spacing: 1.2px;
  margin-top: 0px;
  padding: 100px 150px;
  
}

.secondSection .container {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: space-around;
}


.sectionImages img {
  width: 600px;
  height: fit-content;
  
}
 
.secondSection .twoColumnText {
  /* width: 45%; */
  float: left;
}

.secondSection .img_container {
  /* width: 35%; */

}

.secondSection .img_container img {
  width: 600px;
  float: right;
  border-radius: 25px;
}
  

.thirdSection {
  color: #17028a;
  display: flex;
  flex-direction: row;
  gap: 180px;
  /* justify-content: space-around; */
  letter-spacing: 1.2px;
  padding: 100px 150px;
}

.thirdSection .img_container  {
  width: 600px;
}

.thirdSection .img_container img {
  border-radius: 25px;
}


.container4 {
  background-color: rgb(14, 135, 3); 
  color: white;

  display: flex;
  flex-direction: row;
  gap: 180px;
  /* justify-content: space-around; */
  letter-spacing: 1.2px;
  padding: 100px 150px;
}

.container4 .img_container  {
  width: 900px;
}

.container4 .img_container img {
  border-radius: 25px;
}


.fifthSection {
  color: #17028a;
  display: flex;
  flex-direction: row;
  gap: 180px;
  justify-content: space-around;
  letter-spacing: 1.2px;
  padding: 100px 150px;
}

.fifthSection img {
  width: 800px;
  border-radius: 25px;
}

.sixthSection {
  background-color: rgb(233, 233, 233);
  color: #17028a;
  display: flex;
  flex-direction: row;
  gap: 180px;
  justify-content: space-around;
  letter-spacing: 1.2px;
  padding: 100px 150px;
}


.sixthSection .img_container {
  width: 400px;
}


.seventhSection {
 
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: #102f9ddd;
  color: white ;
  display: flex;
  flex-direction: column;
  gap: 90px;
  justify-content: space-around;
  letter-spacing: 1.2px;
  padding: 100px 150px;

  
}

.seventhSection .menu_container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
 
}

.seventhSection .menu_container ul {
  padding: 10px 20px;
  font-size: 16px;
  border-left: 0.05px solid rgba(0, 255, 255, 0.532);
  line-height: 30px;
}

.seventhSection .menu_container ul li a {
  color: white;
} 

.seventhSection .menu_container ul li:first-child {
  color: cyan;
  font-weight: 600;
} 

.seventhSection .contact_ons {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.seventhSection .contact_ons .rowFlex {
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: space-between;
}

.seventhSection .contact_ons img {
  width: 250px;
  margin-left: -30px;
  margin-bottom: 20px;
}

.contact_ons .direct_contact {
  display: flex;
  flex-direction: row;
  gap: 100px;
  /* justify-content: space-between; */
   
}

.direct_contact h6 {

  padding: 7px 12px;
  /* background-color: #056f87; */
}
.social_network_icons {
  margin-top: -7px;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}

.social_network_icons i {
  padding: 7px 12px;
}
.social_network_icons i:hover {
  background-color: #056f87;
  border-radius: 10px;
}


  header {
    padding: 5px 0px;
    /* background-color: #013e5f6b; */
    background-color: #424343a3;
    align-self: center;
    align-items: center;
    width: 100%;
    color: white;
    position: fixed;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 99;
    
    border-width: none;
    filter: grayscale(0);
}

header div:first-child {
  margin-top: 10px;
}

  header .desktop_logo {
   align-self: left;
  }

  .desktop_logo img {
    margin-top: 5px;
    width: 90px;
    height: 30px;
}

.fancy-link li a {
  margin-top: 10px;
    display: block;
    /* margin: 10px 0; */
    padding: 10px 20px;
    text-transform: uppercase;
}

.fancy-link li a.active,
.fancy-link li a:hover {
    color: rgb(255, 255, 255);
    border-radius: 30px;
    background-color: #ff4d00;
    transition: all 500ms ease-in-out;
}


header nav ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    font-size: 16px;
}

header nav ul li {
    margin-right: 0px;
}

header ul li a {
    color: inherit;
}

header ul li a.active {
    background: #056f87;
    color: #120587;
    transition: 0.5s;
}

header .end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
    padding: 15px 0px;
}

.end a:nth-child(1) {
 color: #fff701;
 font-size: 16px;
 font-weight: 600;
 text-transform: uppercase;
 padding: 10px 20px;
 margin-right: 10px;
}

.end a:nth-child(2) {
    color: white;
    text-transform: uppercase;
    padding: 0px 10px;
    margin: auto;
    margin-right: 3px;
}

.end a:nth-child(1):hover  {
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-color: #ff4d00;
    transition: all 500ms ease-in-out;
}

header .end a i {
    font-size: 1.5rem; 
    color: white;
    margin-left: 5px;
    margin-top: 15px;
}


/* other-pages in desktup version  */

.other_pages .sarlavha_with_bg  {
  margin-top: 120px;
}

.flex_container {
  position: relative;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
}

.sarlavha_with_bg h4 {
  font-size: 50px;
}

.photo_for_each_page img {
  max-width: 400px;
  text-align: left;
}
 
.flex_text { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.middle_text {
padding: 70px 50px;
color: #edeefd;
background-color: #1005e5;
}

}









.active-gif {
  z-index: 300;
}


#arrow img {
  /* position: absolute; */
  
  width: 28px;
  height: 25px;  
  z-index: 2;
}

.arrow {
  position: absolute;
  display: block;
  bottom: -15px;
  left: 46%;
  transform: translate(-50%);
  height: 50px;
  font-size: 25px;

  color: rgb(33, 3, 234);
  animation: updown 4s ease infinite;
}

@keyframes updown {
  0% {
      transform: translateY(0);
  }
  10% {
      transform: translateY(5px);
  }
  20% {
      transform: translateY(0);
  }
  30% {
      transform: translateY(5px);
  }
  40% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(5px);
  }
  80% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(0);
  }
}


.mobile_header {
  background-color: rgb(255, 255, 255);
}

/* 

git pull

git add .

git commit -m "lyuboe sobwenie"

git push

*/