@media only screen and (min-width: 1050px) {

    .firstSection .text_container1 {
      width: 500px;
    }
    .firstSection .text_container1 li {
      line-height: 26px;
    }
  
    .secondSection .twoColumnText {
      width: 450px;
      line-height: 30px;
    }
    .secondSection .twoColumnText li {
      line-height: 30px;
    }
    .secondSection .twoColumnText ol {
      padding: 20px 0px;
    }
    .secondSection .first_col {
      width: 450px;
    }
    .secondSection .second_col {
      width: 450px;
    }
    .secondSection .img_container {
      width: 440px;
    }
  
    .thirdSection  .text_container1 {
      width: 450px;
    }
    .thirdSection  .text_container1 li {
      line-height: 24px;
    }
    .thirdSection .img_container {
      width: 440px;
    }
  
    .fourthSection .twoColumnText {
      width: 450px;
      line-height: 26px;
    }
    .fourthSection .img_container {
      width: 440px;
    }
  
    .fifthSection  .text_container1 {
      width: 450px;
    }
    .fifthSection  .text_container1 li {
      line-height: 26px;
    }
  
    .fifthSection .img_container {
      width: 440px;
    }
  
    .sixthSection .twoColumnText {
      width: 450px;
      line-height: 34px;
    }
    .sixthSection .put_it_center {
      line-height: 34px;
    }
  
    .seventhSection .nl_bg_container {
      width: 600px;
      right: 60px;
    }
  }
  
  @media only screen and (min-width: 1100px) {
  section {
    padding-left: 80px;
    padding-right: 80px;
  }
  
  header {
    padding: 5px 80px;
  }
  
  .secondSection, .fourthSection, .sixthSection {
    padding-left: 80px;
    padding-right: 80px;
  }
  }
  
  @media only screen and (min-width: 1180px) {
  .conntainer {
    margin: auto;
  }
  
  header {
    padding-left: 115px;
    padding-right: 115px;
  }
  
  .round_buttons_container {
    width: 1100px;
    margin: auto;
    margin-top: -70px;
    margin-bottom: 50px;
  }
  
  .desktop_headings {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 120px;
  }
  
  .will_it_work {
    width: 950px;
    margin: auto;
  }
  
  .next_to_eachOther_reversed {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: space-between;
  }
  
  .secondSection .img_container {
    width: 430px;
    margin-top: 0px;
  }
  
  .secondSection .twoColumnText ol {
    padding: 15px 0px;
  }
  
  .thirdSection .next_to_eachOther {
    gap: 1px;
  }
  
  .seventhSection .contacting_part {
    margin-top: 60px;
  }
  
  .seventhSection .nl_bg_container {
    width: 600px;
    right: 100px;
  }
  }
  
  
  @media only screen and (min-width: 1250px) {
    .will_it_work {
      width: 1000px;
    }
  
    header {
      padding-left: 120px;
      padding-right: 110px;
    }
  }
  
  
  @media only screen and (min-width: 1300px) {
    header {
      padding-left: 150px;
      padding-right: 140px;
    }
  }
  
  
  @media only screen and (min-width: 1350px) {
    header {
      padding-left: 180px;
      padding-right: 170px;
    }
  }
  
  @media only screen and (min-width: 1400px) {
    header {
      padding-left: 200px;
      padding-right: 190px;
    }
  
    .seventhSection .nl_bg_container {
      right: 200px;
    }
  }
  
  @media only screen and (min-width: 1475px) {
    header {
      padding-left: 240px;
      padding-right: 230px;
    }
  
    .seventhSection .nl_bg_container {
      right: 260px;
    }
  }
  
  @media only screen and (min-width: 1550px) {
    header {
      padding-left: 280px;
      padding-right: 270px;
    }
  }
  
  @media only screen and (min-width: 1600px) {
    header {
      padding-left: 300px;
      padding-right: 290px;
    }
  }
  
  @media only screen and (min-width: 1700px) {
    header {
      padding-left: 350px;
      padding-right: 340px;
    }
  
    .seventhSection .nl_bg_container img {
      width: 100%;
    }
  
    .seventhSection .nl_bg_container {
      right: 340px;
    }
  }
  
  @media only screen and (min-width: 1800px) {
    header {
      padding-left: 400px;
      padding-right: 390px;
    }
  }
  
  @media only screen and (min-width: 1900px) {
    header {
      padding-left: 450px;
      padding-right: 440px;
    }
  
    .seventhSection .nl_bg_container {
      right: 460px;
    }
  }
  
  @media only screen and (min-width: 2000px) {
    header {
      padding-left: 500px;
      padding-right: 490px;
    }
    .seventhSection .nl_bg_container {
      right: 560px;
    }
  }
  
  @media only screen and (min-width: 2100px) {
    header {
      padding-left: 550px;
      padding-right: 540px;
    }
  }
  
  @media only screen and (min-width: 2300px) {
    header {
      padding-left: 750px;
      padding-right: 740px;
    }
  }
  