/* for other paginas */

main {
    font-size: 22px;
    color: #050e72;
    
    }
    
    .photo_for_each_page {
    padding-top: 20px;
    background-color: #ffffff;
    }
    
    .photo_for_each_page img {
      padding: 20px 0px ;
      position: relative;
      width: 100%;
    }
    
    main h4 {
    text-align: center;
    padding: 40px 20px;
    font-weight: 700;
    }
    
    main h6 {
      
      padding: 10px 20px;
      font-size: 20px;
      font-weight: 700;
      }
    
    main p {
        padding: 10px 20px;
        font-size: 18px;
        line-height: 1.6rem;
         font-weight: 600;
        }
    
    main .white_bg {
          background-color: #ffffff;
          padding: 10px 0px;
    }
    
    main .gray_bg {
      background-color: #ffffff;
      padding: 10px 0px;
    }
    
    .sarlavha_with_bg {
      background-color: #edeefd;
      /* background-image: radial-gradient(circle, #5d006745 0%, #0800ff1a 100%); */
      /* color: #ffffff; */
      padding: 10px 10px;
      margin-bottom: 30px;
      font-size: 1.5rem;
      letter-spacing: 1.7px;
      border-top: 4px double #818bf91a;
      /* border-bottom: 4px double #050e72; */
    }